.bg-green{
    background:green;
}
.border-solid{
    border: solid 10px black;
}
.border-dotted{
    border:dotted 6px black;
}
.padding-10-30{
    padding:10px 30px;
}
.margin-20{
    margin:20px;
}
.height{
    height:450px;
}
.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
 .align-items-center{
    align-items:center;
}
